/* taken from: https://github.com/vincentdoerig/latex-css/blob/master/style.css */

:root {
    --body-color: hsl(0, 5%, 10%);
    --body-bg-color: hsl(210, 20%, 98%);
    --link-visited: hsl(0, 100%, 33%);
    --link-focus-outline: hsl(220, 90%, 52%);
    --pre-bg-color: hsl(210, 28%, 93%);
    --kbd-bg-color: hsl(210, 5%, 100%);
    --kbd-border-color: hsl(210, 5%, 70%);
    --table-border-color: black;
    --border-width-thin: 1.36px;
    --border-width-thick: 2.27px;
    --sidenote-target-border-color: hsl(55, 55%, 70%);
    --footnotes-border-color: hsl(0, 0%, 39%);
    --text-indent-size: 1.463rem;
}

.body {
    counter-reset: theorem definition lemma sidenote-counter note;
}

.abstract,
.abstract p {
    text-align: center;
    margin-top: 0;
}

.abstract {
    margin: 2.25rem 0;
}

.abstract>h2 {
    font-size: 1rem;
    margin-bottom: -0.2rem;
}

/* Theorem */
.theorem {
    counter-increment: theorem;
    display: block;
    margin: 12px 0;
    font-style: italic;
    border: 1px solid;
    padding-left: 16px;
    padding-top: 10px;
    border-radius: 25px;
}

.theorem::before {
    content: 'Theorem ' counter(theorem) '. ';
    font-weight: bold;
    font-style: normal;
}

.theorem_vn {
    counter-increment: theorem;
    display: block;
    margin: 12px 0;
    font-style: italic;
    border: 1px solid;
    padding-left: 16px;
    padding-top: 10px;
    border-radius: 25px;
}

.theorem_vn::before {
    content: 'Định lý ' counter(theorem) '. ' attr(title);
    font-weight: bold;
    font-style: normal;
}

/* Lemma */
.lemma {
    counter-increment: lemma;
    display: block;
    margin: 12px 0;
    font-style: italic;
    border: 1px solid;
    padding-left: 16px;
    padding-top: 10px;
    border-radius: 25px;
}

.lemma::before {
    content: 'Lemma ' counter(lemma) '. ';
    font-weight: bold;
    font-style: normal;
}

/* Proof */
.proof {
    display: block;
    margin: 12px 0;
    font-style: normal;
    position: relative;
}

.proof::before {
    content: 'Proof. ' attr(title);
    font-style: italic;
}

.proof:after {
    content: '◾️';
    filter: var(--proof-symbol-filter);
    position: absolute;
    right: -12px;
    bottom: -2px;
}

/* Definition */
.definition {
    counter-increment: definition;
    display: block;
    margin: 12px 0;
    font-style: normal;
    border: 1px solid;
    padding-left: 16px;
    padding-top: 10px;
    border-radius: 25px;
}

.definition::before {
    content: 'Definition ' counter(definition) '. ' attr(title);
    font-weight: bold;
    font-style: normal;
}

.definition_vn {
    counter-increment: definition;
    display: block;
    margin: 12px 0;
    font-style: normal;
    border: 1px solid;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 10px;
    border-radius: 25px;
}

.definition_vn::before {
    content: 'Định nghĩa ' counter(definition) '. ' attr(title);
    font-weight: bold;
    font-style: normal;
}

.note_vn {
    counter-increment: note;
    display: block;
    margin: 12px 0;
    font-style: normal;
    border: 1px solid;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 10px;
    border-radius: 25px;
}

.note_vn::before {
    content: 'Ghi chú ' counter(note) '. ' attr(title);
    font-weight: bold;
    font-style: normal;
}

.note {
    counter-increment: note;
    display: block;
    margin: 12px 0;
    font-style: normal;
    border: 1px solid;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 10px;
    border-radius: 25px;
}

.note::before {
    content: 'Note ' counter(note) '. ' attr(title);
    font-weight: bold;
    font-style: normal;
}

/* Sidenotes */
.sidenote {
    font-size: 0.8rem;
    float: right;
    clear: right;
    width: 18vw;
    margin-right: -20vw;
    margin-bottom: 1em;
    text-indent: 0;
}

.sidenote.left {
    float: left;
    margin-left: -12vw;
    margin-bottom: 1em;
    text-indent: 0;
}

/* (WIP) add border when a sidenote is clicked on */
.sidenote:target {
    border: var(--sidenote-target-border-color) 1.5px solid;
    padding: 0 .5rem;
    scroll-margin-block-start: 10rem;
}

/* sidenote counter */
.sidenote-number {
    counter-increment: sidenote-counter;
}

.sidenote-number::after,
.sidenote::before {
    position: relative;
    vertical-align: baseline;
}

/* add number in main content */
.sidenote-number::after {
    content: counter(sidenote-counter);
    font-size: 0.7rem;
    top: -0.5rem;
    left: 0.1rem;
}

/* add number in front of the sidenote */
.sidenote-number~.sidenote::before {
    content: counter(sidenote-counter) ' ';
    font-size: 0.7rem;
    top: -0.5rem;
}

label.sidenote-toggle:not(.sidenote-number) {
    display: none;
}

/* sidenotes inside blockquotes are indented more */
blockquote .sidenote {
    margin-right: -24vw;
    width: 18vw;
}

label.sidenote-toggle {
    display: inline;
    cursor: pointer;
}

input.sidenote-toggle {
    display: none;
}

@media (max-width: 1050px) {
    label.sidenote-toggle:not(.sidenote-number) {
        display: inline;
    }

    .sidenote {
        display: none;
    }

    .sidenote-toggle:checked+.sidenote {
        display: block;
        margin: 0.5rem 1.25rem 1rem 0.5rem;
        float: left;
        left: 1rem;
        clear: both;
        width: 95%;
    }

    /* tweak indentation of sidenote inside a blockquote */
    blockquote .sidenote {
        margin-right: -25vw;
        width: 16vw;
    }
}

/* Make footnote text smaller and left align it (looks bad with long URLs) */
.footnotes p {
    text-align: left;
    line-height: 1.5;
    font-size: 85%;
    margin-bottom: 0.4rem;
}

.footnotes {
    border-top: 1px solid var(--footnotes-border-color);
    margin-top: 2rem;
}