---
import Link from '@/components/Link.astro'
import { buttonVariants } from '@/components/ui/button'
import { cn } from '@/lib/utils'
import { Icon } from 'astro-icon/components'

const { parentPost, collection = 'note' } = Astro.props
---

<nav class="col-start-2 flex justify-center mt-4">
  {
    parentPost && (
      <Link
        href={
          collection === 'note'
            ? `/${parentPost.id}`
            : `/${collection}/${parentPost.id}`
        }
        class={cn(
          buttonVariants({ variant: 'outline' }),
          'group flex items-center justify-center rounded-lg max-w-sm w-full py-6',
        )}
      >
        <Icon
          name="lucide:corner-left-up"
          class="mr-2 size-4 transition-transform group-hover:-translate-y-1"
        />
        <div class="flex flex-col items-center">
          <span class="text-muted-foreground text-center text-xs">
            QUAY LẠI CHƯƠNG/MÔN HỌC
          </span>
          <span class="w-full text-center text-sm font-medium">
            {parentPost.data.title}
          </span>
        </div>
      </Link>
    )
  }
</nav>
