---
interface Props {
  title: string;
  className?: string;
}
const { title, className } = Astro.props;
---
<section class:list={["flex flex-col gap-y-4", className]}>
  <h2 class="text-2xl font-medium">{title}</h2>
  <div class="text-base">
    <slot />
  </div>
</section>
