---
import '@/styles/global.css'
import '@/styles/typography.css'
import '@fontsource-variable/jetbrains-mono'
import '@fontsource/ibm-plex-serif'

import Footer from '@/components/Footer.astro'
import Head from '@/components/Head.astro'
import Header from '@/components/Header.astro'
import { Toaster } from '@/components/ui/sonner'
import { SITE } from '@/consts'
import { cn } from '@/lib/utils'

interface Props {
  class?: string
  fullWidth?: boolean
}

const { class: className, fullWidth = false } = Astro.props
---

<!doctype html>
<html class="bg-background text-foreground" lang={SITE.locale}>
  <Head>
    <slot name="head" />
  </Head>
  <body class={cn(fullWidth && 'overflow-hidden')}>
    <div class={cn("flex min-h-screen flex-col bg-background", fullWidth && 'h-screen')}>
      <Header />
      <div class={cn("flex-1 w-full relative flex flex-col min-h-0", !fullWidth && "px-4 md:px-8 py-8")}>
        <slot name="subposts-navigation" />
        <slot name="table-of-contents" />
        <main class={cn('grow flex flex-col w-full h-full min-h-0', !fullWidth && 'mx-auto gap-y-6', className || (!fullWidth ? 'max-w-7xl' : ''))}>
          <slot />
        </main>
      </div>
      {!fullWidth && (
        <div class="w-full border-t mt-auto">
          <div class="mx-auto w-full px-4 md:px-8" class:list={[className || 'max-w-7xl']}>
            <Footer />
          </div>
        </div>
      )}
    </div>
    <Toaster client:load />
  </body>
</html>
